* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #0C0148, #340134, #0C0148);
  padding-top: 6px;
  padding-bottom: 6px; }

h1 {
  color: ghostwhite;
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
  background-color: black;
  font-family: 'arial', sans-serif; }

.logo {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  padding-top: 5px; }

.titulo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
  background-color: black;
  font-family: 'arial', sans-serif; }

.dropdown-menu {
  background-image: linear-gradient(to right, #0C0148, #340134, #0C0148);
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px; }
  .dropdown-menu .menu_btn {
    display: flex 1;
    color: black;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent; }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; }
  .dropdown-menu li {
    color: ghostwhite;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin-right: 50px;
    padding: 0;
    border-width: 1px;
    border-color: darkblue;
    border-style: solid; }
  .dropdown-menu a {
    text-decoration: none;
    color: white; }
  .dropdown-menu a:hover {
    font-weight: bold;
    font-size: 18px;
    color: ghostwhite;
    text-align: center; }

.inicio1 {
  text-align: right; }

.foto1 {
  padding-top: 5px;
  padding-bottom: 5px; }

.cuerpo {
  background-color: #94024A;
  padding-top: 5px; }
  .cuerpo .introduccion {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: ghostwhite;
    font-weight: 100;
    font-size: 16px;
    font-style: normal;
    background-color: #030026;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px;
    border-width: 1px;
    border-color: ghostwhite;
    border-style: solid; }
  .cuerpo .foto2 {
    padding-top: 4px; }

.copy {
  text-align: center;
  color: ghostwhite;
  font-weight: 100;
  font-size: 12px;
  font-style: normal;
  background-color: #030026;
  font-family: 'Roboto', sans-serif;
  padding-top: 2px;
  padding-bottom: 2px; }

.titulo2 {
  font-weight: bold;
  font-size: 20px;
  color: ghostwhite;
  text-align: center;
  background-color: #030026;
  font-family: arial;
  padding-top: 3px;
  padding-bottom: 3px;
  animation-name: mi_animacion;
  animation-duration: 30s; }

.buscar_seleccion {
  display: flex;
  align-items: center;
  justify-content: center; }

.grupo1 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 500;
  font-family: roboto;
  text-align: center; }
  .grupo1 .equipo1 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo2 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo2 .equipo2 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo3 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo3 .equipo3 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo4 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo4 .equipo4 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo5 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo5 .equipo5 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo6 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo6 .equipo6 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo7 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo7 .equipo7 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo8 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo8 .equipo8 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo9 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo9 .equipo9 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo10 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo10 .equipo10 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.grupo11 {
  row-gap: 10px;
  justify-content: center;
  column-gap: 10px;
  margin-right: 10px;
  margin-left: 10px; }
  .grupo11 .equipo11 {
    color: ghostwhite;
    font-weight: 500;
    font-family: roboto;
    text-align: center; }

.titulo3 {
  font-weight: bold;
  font-size: 20px;
  color: ghostwhite;
  text-align: center;
  background-color: #030026;
  font-family: arial;
  padding-top: 3px;
  padding-bottom: 3px;
  animation-name: mi_animacion;
  animation-duration: 30s; }

.titulo4 {
  font-weight: bold;
  font-size: 20px;
  color: ghostwhite;
  text-align: center;
  background-color: #030026;
  font-family: arial;
  padding-top: 3px;
  padding-bottom: 3px;
  animation-name: mi_animacion;
  animation-duration: 30s; }

.titulo5 {
  font-weight: bold;
  font-size: 20px;
  color: ghostwhite;
  text-align: center;
  background-color: #030026;
  font-family: arial;
  padding-top: 3px;
  padding-bottom: 3px;
  animation-name: mi_animacion;
  animation-duration: 30s; }

.formulario {
  color: white;
  font-weight: 600;
  font-family: arial;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center; }

.fin {
  padding-top: 25px;
  padding-bottom: 25px; }

@keyframes mi_animacion {
  from {
    background-color: #030026; }
  to {
    background-color: #80021D; } }

@media (min-width: 650px) {
  .grupo1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .grupo2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .grupo3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .grupo4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo10 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; }
  .grupo11 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; } }

@media (min-width: 900px) {
  .logo {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100px;
    height: 140px; }
  .dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px; }
    .dropdown .dropdown-menu {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      border-style: none; }
    .dropdown .menu_btn {
      display: none; }
    .dropdown ul {
      display: flex 1;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: center; }
    .dropdown li {
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      background-color: black;
      font-family: 'Roboto', sans-serif;
      padding: 0;
      border-width: 1px;
      border-color: darkblue;
      border-style: solid;
      display: inline-block; }
    .dropdown a {
      text-decoration: none;
      color: white; }
    .dropdown a:hover {
      font-weight: bold;
      font-size: 18px;
      color: ghostwhite;
      text-align: center; } }
